<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="mat-elevation-z2"
>
  <h1>NgRx</h1>

  <section fxLayout="row" fxLayoutGap="18px">
    <a fxHide.lt-sm routerLink="/">Valikko1</a>
    <a fxHide.lt-sm routerLink="/">Valikko2</a>
    <a fxHide.lt-sm>Kirjaudu ulos</a>

    <button
      class="toolbar-profile"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      fxHide.gt-xs
    >
      <mat-icon class="profile-icon">menu</mat-icon>
    </button>
  </section>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon><span>Valikko1</span>
  </button>

  <button mat-menu-item routerLink="/">
    <mat-icon>group</mat-icon><span>Valikko2</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon><span>Kirjaudu ulos</span>
  </button>
</mat-menu>
